.inputGroup
  display: block,
.inputGroup.group

  div:not(:first-child),
  input:not(:first-child),
  button:not(:first-child)
    --bs-border-width: 1px
    margin-left: calc(var(--bs-border-width)* -1)
  div,
  button
    &:first-child:not(:last-child),
    *:first-child:not(:last-child) input
      border-top-right-radius: 0
      border-bottom-right-radius: 0
  div,
  button
    &:last-child:not(:first-child),
    *:last-child:not(:first-child) input
      border-top-left-radius: 0
      border-bottom-left-radius: 0
  div,
  button
    &:not(:last-child):not(:first-child),
    *:not(:last-child):not(:first-child) input
      border-radius: 0

.input
  margin-top: 6px
  display: flex

  button
    height: 40px

.label
  font-size: 14px
  line-height: 20px
  font-weight: 500
  color: #344054
.descr,
.error
  margin-top: 6px
  font-size: 14px
  line-height: 20px
  font-weight: 400
  color: #475467

.error
  color: #D92D20

.parentError
  input,
  textarea
    border-color: #FDA29B
    &:focus
      border-color: #FDA29B
      box-shadow: 0px 1px 2px 0px #1018280D, 0px 0px 0px 4px #F044383D
