:root
  --radius-none: 0px
  --radius-xxs: 2px
  --radius-xs: 4px
  --radius-sm: 6px
  --radius-md: 8px
  --radius-lg: 10px
  --radius-xl: 12px
  --radius-2xl: 16px
  --radius-3xl: 20px
  --radius-4xl: 24px
  --radius-full: 100%

  // colors
  --brand-25: #fcfaff
  --brand-50: #f9f5ff
  --brand-100: #f4ebff
  --brand-200: #e9d7fe
  --brand-300: #d6bbfb
  --brand-400: #b692f6
  --brand-500: #9e77ed
  --brand-600: #7f56d9
  --brand-700: #6941c6
  --brand-800: #53389e
  --brand-900: #42307d
  --brand-950: #2c1c5f

  // primary
  --primary-color: var(--brand-600)